<h1 class="header">Dashboard</h1>

<div class="row">

<div class="col-md-4">
<div class="card">
    <div class="card-height-indicator"></div>
    <div class="card-content">
        <div class="card-image">
            <%= image_tag @value.weather_temp.to_i > 26 ? "sunny.jpg" : "cloudy.jpg" %>
            <h3 class="card-image-headline"><%= @value.weather_temp %>°c&nbsp&nbsp&nbsp<%= @value.weather_temp.to_i > 26 ? "Sunny" : "Cloudy" %></h3>
        </div>
        <div class="card-body">
            <p><%= @value.weather_temp.to_i > 26 ? "Bright sun, wear shades today." : "Clouds and rain possible, keep an umbrella." %></p>
        </div>
        <footer class="card-footer">
            <button class="btn btn-flat">Share</button>
            <a href="https://weather.com/en-IN/weather/today/l/12.91,77.57" class="btn btn-flat btn-warning">More Info</a>
        </footer>
    </div>
</div>
</div>

<div class="col-md-4">
<div class="card">
    <div class="card-height-indicator"></div>
    <div class="card-content">
        <div class="card-image">
            <%= image_tag @value.light_status ? "on.jpg" : "off.jpg" %>
            <h3 class="card-image-headline"><%= @value.light_status ? "Lights are On" : "Lights are Off" %></h3>
        </div>
        <div class="card-body">
            <p><%= @value.light_status ? "Switch off if not in use." : "Saving energy is good." %></p>
        </div>
        <footer class="card-footer">
            <button class="btn btn-flat">Share</button>
            <%= link_to 'More Info', lightings_path, :class => "btn btn-flat btn-warning" %>
        </footer>
    </div>
</div>
</div>

<div class="col-md-4">
<div class="card">
    <div class="card-height-indicator"></div>
    <div class="card-content">
        <div class="card-image">
            <%= image_tag @value.status ? "conn.jpg" : "disconn.jpg" %>
            <h3 class="card-image-headline"><%= @value.status ? "Connected." : "Disconnected." %></h3>
        </div>
        <div class="card-body">
            <p><%= @value.status ? "Module is Connected." : "Module is Disconnected." %></p>
        </div>
        <footer class="card-footer">
            <button class="btn btn-flat">Share</button>
        </footer>
    </div>
</div>
</div>

</div>